*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2f363f;

}
.container{
    position: relative;
    background-color: #2f363e;
    /* min-height: 500px; */
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.75),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.25),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock{
    position: relative;
    width: 450px;
    height: 450px;
    background-color: #2f363e;
    border-radius: 50%;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #2f363e;
    border: 3px solid #fff;
    z-index: 100000;
}

.clock span{
    color: #fff;
    position: absolute;
    inset: 20px;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 1.8em;
    opacity: 0.25;
    font-weight: 600;
}

.hand{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(228, 235, 237, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
}

.hand i{
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.hand:nth-child(1) i{
    width: 2px;
}

.hand:nth-child(2) i{
    width: 4px;
}

.cir2{
    height: 240px;
    width: 240px;
    z-index: 9;
}

.cir3{
    height: 180px;
    width: 180px;
    z-index: 8;
}
.hand:before{
    content: '';
    position: absolute;
    top: -8.5px;
    width: 15px;
    height: 15px;
    /* border-radius: 50%; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
}

/* Digital Clock */

#time{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);;
}

#time div{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after{
    content: ':';
    position: absolute;
    right: -4px;
}

#time div:last-child{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#time div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite;
}

@keyframes animate{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}